*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    position: relative;
    color: #fff;
    background-color: #111;
    opacity: 0;
    animation: fadeIN 1s ease-in-out forwards;
}

@keyframes fadeIN {
    to {
        opacity: 1;
    }
}

.background-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.app-container {
    padding: 50px 10px 0;
}

h1 {
    text-align: center;
    font-size: 72px;
    margin: 100px 0;
    text-transform: uppercase;
    color: #f1f1f1;
    text-shadow: 1px 1px 0 #333,
    2px 2px 0 #3a3a3a,
    3px 3px 0 #575757,
    4px 4px 0 #6b6b6b;
}

.information-block {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #191919;
    border-radius: 5px;
    padding: 25px 25px 50px;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.loader {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: inherit;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-out, visibility 0.6s ease-out;
}

.loader.active {
    visibility: visible;
    opacity: 1;
}

.loader-logo {
    width: 75px;
    animation: loader 1.8s ease-out infinite;
}

@keyframes loader {
    50% {
        transform: rotate(360deg);
    }
}

.emoji-logo {
    display: block;
    max-width: 75px;
    margin: 0 auto 10px;
}

.user-information {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}

table {
    margin-bottom: 30px;
    width: 100%;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
}

td {
    color: #fff;
}

.scale-bar-text {
    font-weight: 600;
    margin-bottom: 7px;
}

.scale-bar {
    width: 100%;
    display: flex;
    position: relative;
}

.location-pointer {
    position: absolute;
    left: -15px;
    width: 30px;
    margin-top: 15px;
    transform: rotate(180deg);
    transition: transform 0.4s ease-out;
}

.scale-section {
    height: 10px;
    flex-grow: 1;
    background-color: red;
}

.scale-section:not(:last-child) {
    border-right: 2px solid #191919;
}

.scale-section:nth-child(2) {
    background-color: green;
}
.scale-section:nth-child(3) {
    background-color: #d7d703;
}
.scale-section:nth-child(4) {
    background-color: orange;
}
.scale-section:nth-child(5) {
    background-color: red;
}

.scale-section:nth-child(6) {
    flex-grow: 2;
    background-color: purple;
}

.scale-section:nth-child(7) {
    flex-grow: 4;
    background-color: maroon;
}

@media screen and (max-width: 1200px) {
    h1 {
        margin: 20px;
    }
}